<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- 配置自动扫描的包 -->
    <context:component-scan base-package="cn.perf4j"/>

    <!-- 自动为切面方法中匹配的方法所在的类生成代理对象。 -->
    <aop:aspectj-autoproxy/>

    <!--TODO: 将来正式打包时，把这个bean删掉-->
    <bean id="profilerApi" class="cn.perf4j.test.impl.ProfilerApiImpl"/>

    <!--TODO: 将来正式打包时，把这个bean删掉-->
    <bean id="myRecordProcessor" class="cn.perf4j.test.MyRecordProcessor"/>

    <!--TODO: 将来正式打包时，把这个bean删掉，哪里需要使用则在哪里定义这个bean-->
    <bean id="asyncRecordProcessor" class="cn.perf4j.AsyncRecordProcessor">
        <constructor-arg index="0" ref="myRecordProcessor"/>
    </bean>

    <bean id="profilerContainer" class="cn.perf4j.aop.ProfilerContainer">
        <property name="recordProcessor" ref="asyncRecordProcessor"/>
    </bean>

    <bean id="cleaner" class="cn.perf4j.Cleaner">
        <property name="asyncRecordProcessor" ref="asyncRecordProcessor"/>
        <property name="profilerContainer" ref="profilerContainer"/>
    </bean>

</beans>