<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- 自动为切面方法中匹配的方法所在的类生成代理对象。 -->
    <aop:aspectj-autoproxy/>

    <bean id="profilerTestApi" class="cn.perf4j.test.profiler.ProfilerTestApiImpl"/>

    <bean id="myPerfStatsProcessor" class="cn.perf4j.test.profiler.MyPerfStatsProcessor"/>

    <bean id="asyncPerfStatsProcessor" class="cn.perf4j.AsyncPerfStatsProcessor">
        <constructor-arg index="0" ref="myPerfStatsProcessor"/>
    </bean>

    <bean id="recorderContainer" class="cn.perf4j.RecorderContainer">
        <property name="perfStatsProcessor" ref="asyncPerfStatsProcessor"/>
    </bean>

    <bean id="profilerAspect" class="cn.perf4j.aop.ProfilerAspect">
        <property name="recorderContainer" ref="recorderContainer"/>
    </bean>

    <!--<aop:config>-->
        <!--<aop:advisor id="apiAdvisor" advice-ref="profilerAspect"-->
                     <!--pointcut="@within(cn.perf4j.aop.Profiler) || @annotation(cn.perf4j.aop.Profiler)"/>-->
    <!--</aop:config>-->

    <bean id="shutdownHook" class="cn.perf4j.ShutdownHook">
        <property name="asyncPerfStatsProcessor" ref="asyncPerfStatsProcessor"/>
        <property name="recorderContainer" ref="recorderContainer"/>
    </bean>

</beans>