<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- 自动为切面方法中匹配的方法所在的类生成代理对象。 -->
    <aop:aspectj-autoproxy/>

    <bean id="profilerApi" class="cn.perf4j.test.profiler.ProfilerApiImpl"/>

    <bean id="myRecordProcessor" class="cn.perf4j.test.profiler.MyRecordProcessor"/>

    <bean id="asyncRecordProcessor" class="cn.perf4j.AsyncRecordProcessor">
        <constructor-arg index="0" ref="myRecordProcessor"/>
    </bean>

    <bean id="recorderContainer" class="cn.perf4j.RecorderContainer">
        <property name="recordProcessor" ref="asyncRecordProcessor"/>
    </bean>

    <bean id="profilerAspect" class="cn.perf4j.aop.ProfilerAspect">
        <property name="recorderContainer" ref="recorderContainer"/>
    </bean>

    <bean id="shutdownHook" class="cn.perf4j.ShutdownHook">
        <property name="asyncRecordProcessor" ref="asyncRecordProcessor"/>
        <property name="recorderContainer" ref="recorderContainer"/>
    </bean>

</beans>